[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopy = "*"
yandex-weather-api = "*"
svglib = "*"
reportlab = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
